.App {
  text-align: center;
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  width: 100vw;
  font-weight: 300;
}

:root {
  --green-color: rgb(19, 197, 19);
  --header-color: #e8e6de;
  --headeropacity-color: #e8e6decc;
  --blue-color: #8AB2C2;
  --headertext-color: black;
  --orange-color: #DC5620;
  --teal-color: #20c0dc;
  --react-color: #00d8ff;
  --butter-color: #ffc825;
  --calcHeight-meas: calc(100vh - 141px);
}

.select-main::-webkit-scrollbar {
  width: 1em;
}

.select-main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.select-main::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

a {
  color: rgb(31, 16, 163);
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgb(31, 16, 163);
}



.sign-in-link:hover {
color: rgb(240, 240, 240);
text-decoration: none;
}


.components.invisible {
  /* visibility: hidden; */
  opacity: 0;
  transition: .3s ease-in-out;
  transform: scale(.9)

}

.settings.invisible {
  opacity: 0;
  transition: .3s ease-in-out;
  transform: scale(.9)
}

.components {
  opacity: 1;
  transition: .3s ease-in-out;
  transform: scale(1)
}

.settings {
  opacity: 1;
  transition: .3s ease-in-out;
  transform: scale(1)
}

.reload:hover, .fa-user-cog:hover {
  color: rgb(240, 240, 240);
}

.spin-sync {
  animation: spin 1s linear infinite;
}

.fa-question {
  animation: pulse 1.5s linear infinite;
}

.card-options-div.clicked {
  opacity: .3;
}

.card-content::-webkit-scrollbar {
  width: 19px;
  background-color: #8AB2C2;
}

.card-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(74, 74, 74);
  border: 5px solid #8AB2C2;
}


.select-scroll::-webkit-scrollbar {
  width: 19px;
  background-color: white;
  /* padding: 10px; */
}

.select-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(74, 74, 74);
  border: 5px solid white;
}

.spin-once {
  animation: spin .5s linear;
}

@keyframes pulse {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.2)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}










/************** media queries **************/


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  
}
