$primary-color: #8baaad;
$secondary-color: #444;


.card {
  background: $primary-color;
  border-radius: 6px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);

  .card-heading {
    font-size: 26px;
    font-weight: 300;
    background: $secondary-color;
    color: rgb(175, 175, 175);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6px 0px 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    .heading-icon {
      font-size: 24px;
      margin-right: 10px;
     
    
    }
      
    .card-options-div.clicked {
      opacity: .3;
    }
  }







  
  .card-content::-webkit-scrollbar {
    width: 19px;
    background-color: $primary-color;
  }
  
  .card-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $secondary-color;
    border: 5px solid $primary-color;
  }


  .reload .fa-user-cog {
    &hover {
      color: rgb(240, 240, 240);
    }
  }

  .spin-once {
    animation: spin .5s linear;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

}