$primary-color: #444;
$secondary-color: #AFAFAF;
$carret-width: 20px;


.header {
  height: 60px;
  background: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .hue-controls {
    margin-left: 20px;
    color: $secondary-color;
    z-index: 1000;
    display: flex;

   
    .color-picker-title {
      border-radius: 3px;
      user-select: none;
      cursor: pointer;
      padding: 1px 2px 2px 2px;
      margin: 0px 4px 0px 4px;
      // &:hover {
      // background: $secondary-color;
      // color: $primary-color;
      // }
    }
    .light-controls {
      .carret-div {
        height: 20px;
        width: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        cursor: pointer;
        // border: 1px solid white;
        padding: 1px 3px 0px 5px;
        .fa-caret-right {
          transition: transform .1s linear;
          font-size: 26px;
          cursor: pointer;
        }
      }
    }
 
     
      .color-picker-wrapper {
        position: absolute;
        width: 20%;
        height: 10px;
        // border: 2px solid red;
        transform: translateY(30px);
        margin-top: 15px;
        // display: block;
        // border: 5px solid $secondary-color;
        .brightness-slider-wrapper {
          margin-top: 5px;
          transform: translateY(10px);
          .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 20px;
            // background: #d3d3d3;
        }

        .slider.hue {
          background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
          outline: none;
        }

        .slider.brightness {
          background-image: linear-gradient(to right, black, white);
          outline: none;
        }
        
       
        
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 5px;
            height: 20px;
            background: $secondary-color;
            cursor: pointer;
        }
        
        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #4CAF50;
            cursor: pointer;
        }
        }
      
      }
    
   
  }

  .right-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 28px;
    .sign-out {
      color: $secondary-color;
      margin-right: 18px;
      cursor: pointer;
    }
  }

}