.news-settings.settings {
  width: 100vw;
  padding-inline-end: 0px 40px 0px 40px;
  position: absolute;
  transform: translateY(56px);
  left: 0;
  .settings-name {
    padding-left: 26px;
    text-align: left;
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
    .fa-user-cog {
     margin-right: 6px;
     margin-left: 5px;
     transform: translateY(-5px);
    }
  }
  
  .settings-wrapper {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    .left-list {
      width: 45%;
      .checkboxes-titles {
        margin-top: 20px;
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        text-transform: uppercase;
      }
      .checkboxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
        height: 60px;
        .checkbox {
          font-size: 20px;
          cursor: pointer;
        }
      }
      .form-controls {
        display: flex;
        align-items: center;
      }
      .list-header {
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      .settings-list-container {
        background: #fff;
        font-size: 18px;
        font-weight: 300;
        height: 300px;
        max-height: 300px;
        overflow-y: auto;
        .list-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 3px 10px 3px 10px;
        }
      }
    }
    .right-list-wrapper {
      width: 45%;
      transform: translateY(153px);
      .right-list-heading {
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      .right-list {
        background: #fff;
        font-size: 18px;
        font-weight: 300;
        height: 300px;
        max-height: 300px;
        overflow-y: auto;
     
        .right-list-item {
          display: flex;
          align-items: center;
          padding: 3px 10px 3px 10px;
        }
      }
    }
  }
  .button-group {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    .bottom-icons {
      z-index: 100;
      margin: 0px 12px 0px 12px;
      font-size: 40px;
      cursor: pointer
    }
  }
}