.sports {
  .team-line {
    border-bottom: 1px solid grey;
    display: flex;
    padding: 6px 0;

    .team {
      display: flex;
      flex-direction: column;
    }
    
    .logo-and-stats {
      background: rgb(255, 172, 186);
      display: flex;
    }
   
  }

  .name-and-rank {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
  }






}